@charset "utf-8";
/* CSS Document */
#page
{
	display: inline-block;
}
body
{
	font: 12px Arial;
	margin: auto;
	background-size: 100% 100%;
}
#contest_t1 
{
    background: url("oke2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
table.kalandlap
{
	margin: 160px,60px,60px,60px;
	}
h6
{
	font-size:14px;
	text-shadow: 0 0 3px #FF0000;
	}
